html{ text-align: center;
        p{
            color: red;
        }
        #pa2{
            color: black;
        }
        #pa3{color: green;
        }
        #pa4{ color: purple;
        }

  }
